*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Cabin", sans-serif;
}
a {
  color: black;
}
body {
  margin-right: auto;
  margin-left: auto;
}
header,
section {
  padding: 0 1.5rem;
}
section {
  margin: 3rem 0;
}

:root {
  --primary: #ff1493;
  --space: 2rem;
}
.space-top {
  padding-top: 1rem;
}
h1,
span {
  color: var(--primary);
}
h3 {
  font-weight: 600;
  font-size: 2.2rem;
  margin: 5rem 0;
  text-align: center;
}
img{
width: 100%;
height: auto;
}
/***** Header ******/
header {
  width: 100%;
  color: var(--primary);
}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham-menu,
.drop-menu {
  display: none;
}

.ham-menu div {
  height: 4px;
  width: 30px;
  margin: 5px 0;
  background-color: var(--primary);
  transition: 1s ease;
}

.ham-menu .top {
  transform: rotateZ(410deg) translate(-5%, 100%);
  margin: 0;
  transition: 1s ease;
}
.ham-menu .bottom {
  transform: rotateZ(-410deg) translate(-5%, -100%);
  margin: 0;
  transition: 1s ease;
}
.ham-menu .mid {
  transform: rotateZ(360deg);
  display: none;
  transition: 1s ease;
}

.title {
  letter-spacing: 1px;
  word-spacing: 1px;
}

li {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 12px;
  display: inline;
}

.button {
  font-size: 1.2rem;
  background-color: var(--primary);
  border-radius: 15px;
  padding: 0.9rem 1.4rem;
  color: white;
  white-space: nowrap;
}
.button:hover,
.contact input[type="submit"]:hover {
  background-color: #e23993;
}

/***** Hero *****/

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .left {
  flex: 1 1 100%
  }

.hero .right {
flex: 1 1 100%
}


.hero h2 {
  font-size: 3rem;
  font-weight: 700;
  max-width: 300px;
  line-height: 56px;
  margin-bottom: 3rem;
}

.hero img{
  max-width: 700px;
  }

/***** Services ******/
.services-wrap {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  align-items: center;
}

.service {
  flex-basis: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service img {
  border: 0.5rem solid #ff1493;
  border-radius: 100%;
  max-width: 350px;
}
.white {
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 10px;
  padding: 0.2rem 0.4rem;
}
.service h1 {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.programs h2 {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.9rem;
}

/***** Gallery *****/
.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery img {
  width: 550px;
  border-radius: 1rem;
}

/***** Contact *****/
.contact {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.contact div {
  flex: 1;
}
.contact h4 {
  margin: auto 0;
  max-width: 500px;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}
.contact p{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}
.contact h2 {
  text-align: center;
  font-size: 2.1rem;
}
.contact input,
.contact textarea {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 2px solid var(--primary);
}
.contact input {
  height: 45px;
}
.contact a {
  color: white;
}
.contact input[type="submit"] {
  padding: 0px;
  width: 120px;
  display: block;
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.contact .or{
  margin: 2rem 0;
  font-size: 1.8rem
}

.contact .book-whatsapp{
  display: flex;
  width: 100%;
}
.contact .book-whatsapp>a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 12px;
  height: 50px;
  background-color: #5ffc7b;
}
.contact .book-whatsapp>.whatsapp:hover{
background-color: #50eb6c;
}
.contact .book-whatsapp .whatsapp{
  margin-right: 1rem;
}


.contact .book-whatsapp>.calendly{
  background-color: #0067ff;
  }
  .contact .book-whatsapp .calendly:hover{
    background-color: #2074f1;
  }
  
/***** Footer *****/
.footer {
  padding: 2.5rem 1rem;
  position: relative;
}

.footer .top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer h1 {
  margin: var(--space) 0;
}
.footer .top h1 {
  font-size: 1.8rem;
}

.footer .middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.1rem;
}
.footer .middle div {
  flex: 1 1 100%;
}

.bottom {
  width: 100%;
  background-color: var(--primary);
}

.bottom h4 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  color: white;
}
.wa-wrapper {
  display: block;
}
.whatsapp {
  position: sticky;
  left: 0px;
  right: 16px;
  bottom: 16px;
}
.sticky {
  background-color: #5ffc7b;
  position: absolute;
  right: 16px;
  bottom: 16px;
  height: 50px;
  width: 50px;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem;
}

/***** Media Queries ******/
/***** Media Queries ******/
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  .services {
    flex-direction: column;
  }
  .service img {
    max-width: 300px;
  }
  .hero {
    margin-top: -6rem;
  }
  .hero h2 {
    font-size: 2.8rem;
  }
  .hero div img {
    margin-top: 6rem;
    display: block;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 769px) and (max-width: 1024px) {
  /* Header */

  ul {
    display: none;
  }
  .ham-menu {
    display: block;
  }

  .drop-menu {
    background-color: #ffffff;
    z-index: 1 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 1s cubic-bezier(0.9, -0.14, 0, 1.15);
    transform: translateY(-150%);
  }

  .drop-down {
    transform: translateY(0%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  }

  .drop-menu div {
    width: 100%;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    transition: 0.5s ease;
    border: none;
    letter-spacing: 2px;
  }

  .drop-menu div a {
    color: var(--primary);
    transition: 0.5s ease;
  }
  /* Header */

  .desktop {
    display: none;
  }

  .hero {
    flex-wrap: wrap;
  }
  .footer .middle {
    display: block;
  }
  .contact {
    flex-wrap: wrap;
    width: 100%;
    display: block;
  }
  .contact h3 {
    text-align: left;
  }
}
/* @media (max-width: 800px) {
  .hero div img {
    max-width: 500px;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .hero div img {
    max-width: 600px;
  }
}
